body {
    background-color: antiquewhite;
    text-align: center;
    
}

#info2 {
    margin-left:2.6%;
}

.info {
    margin-right: 20%;
}

.aboutMe {
    text-align: left;
    margin-left: 20%;
}

.header {
    background-color: navy;
    color: white;
    margin-top: 0px;
    padding: 5px;
    font-size: 2rem;
}

.line {
    width: 80%;
    height: 5px;
}

.resumeList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}

.resumeList li {
    padding-right: 40px;
}

#wrapper {
    background-color: navy;
    border: 2px solid lightseagreen;
}

#links {
    color: white;
    border: 1px solid lightseagreen;
}

nav {
    margin: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: midnightblue;
    position: relative;
}
nav li a {
    border: 1px solid lightseagreen;
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightseagreen;
}

nav ul.sub {
    position: absolute;
    display: none;
}
/* .